<a href="https://colab.research.google.com/github/blackgreenc/Kaggle/blob/main/House_Prices_Advanced_Regression_Techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")

In [15]:
import pandas as pd
import numpy as np

In [16]:
import random
np.random.seed(1234)
random.seed(1234)

In [35]:
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

In [20]:
train_df = pd.read_csv("/data/train.csv")
test_df = pd.read_csv("/data/test.csv")
submission = pd.read_csv("/data/sample_submission.csv")

In [ ]:
#########
train_df.head()

In [22]:
#########
train_df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [23]:
train_df["MSZoning"].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [33]:
all_df = pd.concat([train_df, test_df], sort=False).reset_index(drop=True)
all_df

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60       RL  ...        WD         Normal  208500.0
1        2          20       RL  ...        WD         Normal  181500.0
2        3          60       RL  ...        WD         Normal  223500.0
3        4          70       RL  ...        WD        Abnorml  140000.0
4        5          60       RL  ...        WD         Normal  250000.0
...    ...         ...      ...  ...       ...            ...       ...
2914  2915         160       RM  ...        WD         Normal       NaN
2915  2916         160       RM  ...        WD        Abnorml       NaN
2916  2917          20       RL  ...        WD        Abnorml       NaN
2917  2918          85       RL  ...        WD         Normal       NaN
2918  2919          60       RL  ...        WD         Normal       NaN

[2919 rows x 81 columns]

In [26]:
#########
all_df["SalePrice"]

0       208500.0
1       181500.0
2       223500.0
3       140000.0
4       250000.0
          ...
2914         NaN
2915         NaN
2916         NaN
2917         NaN
2918         NaN
Name: SalePrice, Length: 2919, dtype: float64

In [29]:
categories = all_df.columns[all_df.dtypes == "object"]
print(categories)

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [30]:
all_df["Alley"].value_counts()

Grvl    120
Pave     78
Name: Alley, dtype: int64

In [31]:
for cat in categories:
    le = LabelEncoder()
    print(cat)

    all_df[cat].fillna("missing", inplace=True)
    le = le.fit(all_df[cat])
    all_df[cat] = le.transform(all_df[cat])
    all_df[cat] = all_df[cat].astype("category")

MSZoning
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Heating
HeatingQC
CentralAir
Electrical
KitchenQual
Functional
FireplaceQu
GarageType
GarageFinish
GarageQual
GarageCond
PavedDrive
PoolQC
Fence
MiscFeature
SaleType
SaleCondition

In [32]:
all_df

        Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0        1          60        3  ...         8              4  208500.0
1        2          20        3  ...         8              4  181500.0
2        3          60        3  ...         8              4  223500.0
3        4          70        3  ...         8              0  140000.0
4        5          60        3  ...         8              4  250000.0
...    ...         ...      ...  ...       ...            ...       ...
2914  2915         160        4  ...         8              4       NaN
2915  2916         160        4  ...         8              0       NaN
2916  2917          20        3  ...         8              0       NaN
2917  2918          85        3  ...         8              4       NaN
2918  2919          60        3  ...         8              4       NaN

[2919 rows x 81 columns]

In [34]:
train_df_le = all_df[~all_df["SalePrice"].isnull()]
test_df_le = all_df[all_df["SalePrice"].isnull()]